html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;
}

/* nav */

div{
    display: block;
}

.header{
    background-color: #333;
}

/*header projects*/

.header_projects{
    background-color: #333;
    height: 1000px;
}

.header_projects_mobile{
    display: none;
    height: 200px;
}

.header_projects h1{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 150px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
}

.header_projects h2{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.header_projects p{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    text-align: center;
}

.portfolio_button {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 375px;
}

.portfolio_button:hover{
    color: #666666;
}


.header_mobile{
    display: none;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li.icon {
    display: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

li a:hover {
    background-color: #000000;
    cursor: pointer;
    height: 15px;
}

.active_page {
    background-color: #000000;
    height: 15px;
}

@media screen and (max-width:950px) {
    ul.nav li:not(:first-child) {display: none;}
    ul.nav li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width:950px) {
    ul.nav.responsive {position: relative;}
    ul.nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
        height: 15px;
    }

    .header, .header_projects{
        display: none;
    }



    .header_mobile,.header_projects_mobile {
        display: inline;
    }

    .footer{
        margin-top: 550px;
    }

}

.hamburger{
    width: 5%;
    height: 5%;
    float: right;
    margin-top: -13%;
}

/* banner */

.banner{
    background-image: url("../img/background.png");
    background-size: cover;
    height: 800px;
    display: none;
}

.main{
    position: relative;
    top: 180px;
    text-align: center;
    display: none;
}

@media (max-width: 600px) {
    .main h1 {
        font-size: 50px;
        padding: 0 40px;
    }
}

.main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.main p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.btn-main{
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-main:hover{
    background-color: #000000;
    cursor: pointer;
}

/* content */

.content_design, .content_develop, .content_manage{
    float: left;
    width: 33%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: none;
}

@media screen and (max-width: 950px) {
    .content_design, .content_develop, .content_manage {
        float: none;
        margin-right:0;
        width:auto;
        margin-bottom: 50px;
    }
}

.supporting {
   padding-top: 80px;
   padding-bottom: 100px;
   height: 300px;
}

.supporting img {
    height: 32px;
}

.supporting h2{
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

.supporting p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 50px;
    margin-bottom: 40px;
}

.btn-content{
    border: 1px solid #333;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-content:hover{
    color: #FFFFFF;
    background-color: #000000;

}

/*projects*/

#projects_overview{
    padding-bottom: 100px;
    height: 800px;
}

.box_hair10der{
    float: left;
    width: 33.333333333%;
    background-color: #ffffff;
    height: 400px;
    position: relative;
}

.box_hair10der img{
    height: 200px;
    width: 200px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}

.hair10der_footer{
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.hair10der_footer p, .box_site3_footer p, .box_site5_footer, .box_site6_footer p{
    margin-top: 0px;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.75);
    padding-bottom: 22px;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
}

.box_magicmirror{
    float: left;
    width: 33.333333333%;
    height: 400px;
    background-color: black;
}

.box_magicmirror img{
    height: 200px;
    width: 500px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin: 600px 0 0 -250px;
}

.box_magicmirror p{
    font-size: 50px;
    padding-top: 130px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.box_site3{
    float: left;
    width: 33.333333333%;
    background-color: #336699;
    height: 400px;
}

.box_site3 p{
    font-size: 50px;
    padding-top: 130px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.box_site4{
    float: left;
    width: 33.333333333%;
    background-color: black;
    height: 400px;
}

.box_site4 p{
    font-size: 50px;
    padding-top: 130px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.box_site5{
    float: left;
    width: 33.333333333%;
    background-color: #336699;
    height: 400px;
}

.box_site5 p{
    font-size: 50px;
    padding-top: 130px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.box_site6{
    float: left;
    width: 33.333333333%;
    background-color: white;
    height: 400px;
}

.box_site6 p{
    font-size: 50px;
    padding-top: 130px;
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;

}

/* footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer p{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}

.media_icons{
    float: right;
    margin-right: 10%;
    margin-top: -25px;
}

.media_icons a{
    color: #666666;
    text-decoration: none;
    padding: 3px;
}

.fa.fa-github:hover,.fa.fa-facebook-official:hover, .fa.fa-linkedin-square:hover  {
    color: white;
}

.viewcounter{
    float: right;
    margin-right: -5%;
    color: #666666;
    margin-top: -32px;
}
@media screen and (max-width:1100px) {
    .viewcounter {
        display: none;
    }
}



